
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Questions</title>
  	<link rel="stylesheet" href="{% static 'common.css' %}" type="text/css">
  	<link rel="stylesheet" href="{% static 'questions.css' %}" type="text/css">
  </head>
  <body>
  		<ul class="navbar">
		  <li class="heading"><a>TechStack</a></li>
		  <li style="float:right"><span>Logged in as: {{ request.user.username }}</span> <a class="active" href="/polls/logout">Logout</a></li>
		</ul>

		 <div class="questions-container">
	   		{% if latest_question_list %}
	   			<h1>Active Questions</h1>
	   			<table class="listing">
	   				<thead>
	   					<tr class="heading">
	   						<th>
	   							Questions
	   						</th>
	   					</tr>
	   				</thead>
	   				<tbody>
	   					{% for question in latest_question_list %}
	   					<tr class="questions">
	   						<td>
	   							<a href="{% url 'polls:detail' question.id %}">
									<h4>{{ question.question_text }}</h4>
									<p>Asked {{question.pub_date}}</p>
								</a>
	   						</td>
	   					</tr>
	   					{% endfor %} 
	   				</tbody>
	   			</table>
			{% else %}
			    <p>No polls are available.</p>
			{% endif %}
		</div>
  </body>
</html>


