
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Questions</title>
  	<link rel="stylesheet" href="{% static 'common.css' %}" type="text/css">
  	<link rel="stylesheet" href="{% static 'questions.css' %}" type="text/css">
  </head>
  <body>
  		<ul class="navbar">
		  <li class="heading"><a>TechStack</a></li>
		  <li style="float:right"><span>Logged in as: {{ request.user.username }}</span> <a class="active" href="/polls/logout">Logout</a></li>
		</ul>

	   	<div class="container">
		  
	   		{% if latest_question_list %}
	   			<h2>Active Questions</h2>
				<ul class="listing">
					<hr />
					{% for question in latest_question_list %}
					<li>
						<a href="{% url 'polls:detail' question.id %}">
							<h3>{{ question.question_text }}</h3>
							<p>Asked {{question.pub_date}}</p>
						</a>
					</li> 
					<hr />
					{% endfor %}  
				</ul>
			{% else %}
			    <p>No polls are available.</p>
			{% endif %}
		</div>
  </body>
</html>


