body {
    margin:0;
}

hr {
    margin:0;
    border-color: #4CAF50;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    border-top: 3px solid #4CAF50;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}

ul.navbar li {
    float: left;
    color: #4CAF50;
}

ul.navbar li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #4CAF50;
}

ul.navbar li.heading{
    margin-left: 35%;
    font-size: 1.2em;
    cursor: pointer;
}

ul.navbar li.heading a {
    color:#fff;
    font-weight: bold;
    font-size: 1.3rem;
}

.messages {
    border: 1px solid #eee;
    padding: 15px;
}

.messages .error {
    color: red;
}

.messages .success {
    color: green;
}
