
 
.container {
  width: 80vw;
  margin: 20px auto 20px auto;
  background: none;
  padding-top: 5px;
}

h1 {
  text-align: center;
}

.questions-container {
  padding: 5px;
}
 
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;
}

h4 {
  font: bold 16px/1.5 Helvetica, Verdana, sans-serif;
  margin: 5px 0 5px 0;
}
 
.listing a {
  text-decoration: none;
}

.listing a h4, .listing a p {
  margin: 5px 0 5px 0;
}

.listing a:visited {
  color:#000;
}

ul.navbar li.heading {
  margin-left: 45%;
}